<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="compiled-styles.css" rel="stylesheet" />
</head>

<body class="w-screen">
    <div class="w-full h-fit bg-[#00583C] p-2 px-4 relative">
        <h1 class="text-white font-bold block text-2xl">Equity Tool Report</h1>
        <h1 class="text-white font-bold block text-lg absolute right-4 top-0 pt-2.5">
            July 27, 2022
        </h1>
    </div>

    <div class="w-full px-14">
        <section id="main-area " class="w-full h-fit mt-8 text-center">
            <p class="mb-2">
                <a class="text-black text-xl"><b>Selected Boundary:</b> San Diego County</a
        >
      </p>
      <div class="h-[500px] bg-gray-300 pt-[240px]">
        <p>MAP GOES HERE</p>
      </div>

      <div class="mt-8 w-full h-fit align-top">
        <div class="w-[32%] inline-block">
          <h1 class="font-bold text-4xl">7</h1>
          <h1 class="font-semibold leading-tight text-lg">DACs </br>  in County</h1>
        </div>
        <div class="w-[32%] h-full inline-block align-top">
          <h1 class="font-bold text-4xl">20</h1>
          <h1 class="font-semibold leading-tight text-lg">Affordable </br>  Housing Units</h1>
        </div>
        <div class="w-[32%] inline-block align-top">
          <h1 class="font-bold text-4xl">92.35%</h1>
          <h1 class="font-semibold leading-tight text-lg break-words">Average Energy </br> Burden Percentile</h1>
        </div>
      </div>
    </section>

    <section class="break-before">
      <div class="h-8 w-full">&nbsp;</div>
      <div class="font-bold text-xl text-white bg-[#00583C] p-2 w-80">Census Tract 0100023023423</div>
      <div class="text-lg mt-2">
        <div class="inline-block align-top mr-8">
          <b>City:</b> Coronado</br>
          <b>County:</b> San Diego County</br>
          <b>State:</b> CA</br>
          <b>Population:</b> 10334.0 </br>
        </div>
        <div class="inline-block align-top">
          <b>QCT Status:</b> <mark class="bad">Eligible</mark></br>
          <b>DAC Status:</b> <mark class="bad">Disadvantaged</mark></br>
          <b>State Percentage:</b> <mark class="bad">90%</mark> </br>
          <b>National Percentage:</b> <mark class="good">40%</mark> </br>
        </div>
      </p>

      <table class="mt-4">
        <tr>
          <th>Indicator</th>
          <th class="w-[70%]">Percentile</th>
        </tr>
        <tr>
          <td>Energy Burden</td>
          <td>
            <div class="w-[95%] good-bar"></div>
            <div class="inline-block align-middle">99</div>
          </td>
        </tr>
        <tr>
          <td>Housing Burden</td>
          <td>
            <div class="w-[35%] bad-bar"></div>
            <div class="inline-block align-middle">25</div>
          </td>
        </tr>
      </table>

      <div class="font-bold text-xl text-white bg-[#69BE28] p-2 w-full mt-8">Property: Lone Bluff View Apartments</div>
      <div class="text-lg mt-2">
        <div class="inline-block align-top mr-8">
          <b>City:</b> Coronado</br>
          <b>County:</b> San Diego County</br>
          <b>State:</b> CA</br>
          <b>Population:</b> 10334.0 </br>
          <b>Population:</b> 10334.0 </br>
          <b>Population:</b> 10334.0 </br>
          <b>Population:</b> 10334.0 </br>
        </div>
        <div class="inline-block align-top">
          <b>City:</b> Coronado</br>
          <b>County:</b> San Diego County</br>
          <b>State:</b> CA</br>
          <b>Population:</b> 10334.0 </br>
          <b>Population:</b> 10334.0 </br>
          <b>Population:</b> 10334.0 </br>
        </div>
      </p>
    </section>
</div>
  </body>
</html>